/* ========================================= */
/* AUTO-SCROLLING PHOTO GALLERY              */
/* ========================================= */
/* Moves the photo gallery upwards for a scrolling effect */
@keyframes scrollPhotos {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

/* ========================================= */
/* GLOWING BORDER EFFECT                     */
/* ========================================= */
@keyframes glow {
    from {
        border-color: #64ff64;
    }

    to {
        border-color: #ffffff;
    }
}

/* ========================================= */
/* TYPING EFFECT                             */
/* ========================================= */
/* Simulates typing animation */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* Simulates cursor blinking */
@keyframes blink {
    from {
        border-color: transparent;
    }

    to {
        border-color: #64ff64;
    }
}